fastapi
uvicorn
supabase
python-dotenv
pydantic
langchain
langchain-community
langchain-groq
langchain-core
langchain-chroma
langchain-text-splitters
chromadb
pymupdf
python-multipart
google-generativeai
langgraph
tavily-python
httpx
sentence-transformers